# joint data sliding

In [1]:
import pandas as pd
from tqdm import tqdm

## Data Load

In [2]:
df = pd.read_csv('/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/running_nosl.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,index
0,977.701,280.057,954.108,330.186,924.568,330.116,930.468,383.140,977.758,362.415,...,630.412,971.831,271.187,980.688,271.315,948.193,274.182,0.00,0.000,2-1_001-C01
1,977.709,277.200,954.160,330.192,924.569,330.091,930.460,383.151,977.730,362.436,...,630.390,971.815,271.157,980.703,271.281,948.198,271.443,0.00,0.000,2-1_001-C01
2,977.768,277.170,954.196,333.069,921.755,330.134,930.511,385.949,980.594,362.486,...,630.402,974.576,268.466,983.510,271.272,948.231,271.429,0.00,0.000,2-1_001-C01
3,977.781,277.155,954.222,333.025,924.568,330.095,930.530,386.069,980.587,362.482,...,630.354,974.593,268.462,983.512,271.250,948.276,271.415,0.00,0.000,2-1_001-C01
4,980.551,277.132,957.005,333.055,921.750,330.097,927.725,386.118,977.770,362.518,...,630.328,974.643,268.456,983.589,271.246,951.038,271.414,0.00,0.000,2-1_001-C01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105423,1242.510,297.814,1236.580,336.074,1213.150,353.730,1210.260,444.900,1280.900,439.120,...,665.722,1233.670,291.992,1251.420,291.751,1213.010,291.885,1260.14,271.225,2-7_601-C05
105424,1239.710,297.732,1236.770,336.003,1216.010,350.789,1213.210,441.993,1283.880,433.210,...,659.753,1233.620,291.913,1254.250,288.978,1213.070,291.832,1260.38,271.347,2-7_601-C05
105425,1236.590,294.846,1242.620,321.264,1213.230,342.045,1213.070,436.228,1283.850,430.214,...,656.877,1221.920,288.986,1242.570,285.924,1210.160,285.979,1260.33,271.292,2-7_601-C05
105426,1233.620,294.749,1251.330,315.534,1213.230,339.082,1210.160,433.157,1283.710,421.419,...,662.752,1216.080,288.816,1239.560,280.125,1201.350,271.281,1263.13,271.181,2-7_601-C05
105427,1233.710,291.910,1251.380,315.460,1213.080,338.950,1207.230,430.090,1280.820,418.402,...,686.301,1218.960,280.101,1242.490,274.277,1204.290,268.467,1263.28,268.287,2-7_601-C05

## Sliding

In [3]:
count = df['index'].value_counts()
count_df = pd.DataFrame(count).sort_index()

count_df

             index
2-1_001-C01    210
2-1_001-C02    210
2-1_001-C03    210
2-1_001-C04    210
2-1_001-C05    210
...            ...
2-7_601-C01    150
2-7_601-C02    150
2-7_601-C03    150
2-7_601-C04    150
2-7_601-C05    150

[511 rows x 1 columns]

In [4]:
videos = list(set(df['index']))
videos.sort()

frames = []
for v in videos:
    frames.append(df[df['index'] == v].index)

In [5]:
target_frame = 32
slices = []
for frame in frames:
        sl = []
        for f in frame:     
            if f <= frame[-1] - target_frame + 1:
                sl.append((f, f + target_frame - 1))
        slices.append(sl)

In [6]:
for sl in slices:
    for (start,end) in sl:
        temp = (start,end)
        st=temp[0]
        ed=temp[1]

In [8]:
df1 = pd.DataFrame()

for sl in tqdm(slices):
    for (start, end) in sl:
        temdf=df.iloc[start:end+1] # 자른 df
        df1=pd.concat([df1, temdf],ignore_index=True)

100%|██████████| 511/511 [6:26:54<00:00, 45.43s/it]

## Resize

In [9]:
n_frame = 32

for i in range(n_frame):
    if i % 2 == 0:
        df1[str(i)] = df1[str(i)] / 1920.0 * 640.0
    else:
        df1[str(i)] = df1[str(i)] / 1080.0 * 480.0

df1.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,index
0,325.900333,124.469778,318.036000,146.749333,308.189333,146.718222,310.156000,170.284444,325.919333,161.073333,...,280.183111,323.943667,120.527556,326.896000,120.584444,948.193,274.182,0.0,0.0,2-1_001-C01
1,325.903000,123.200000,318.053333,146.752000,308.189667,146.707111,310.153333,170.289333,325.910000,161.082667,...,280.173333,323.938333,120.514222,326.901000,120.569333,948.198,271.443,0.0,0.0,2-1_001-C01
2,325.922667,123.186667,318.065333,148.030667,307.251667,146.726222,310.170333,171.532889,326.864667,161.104889,...,280.178667,324.858667,119.318222,327.836667,120.565333,948.231,271.429,0.0,0.0,2-1_001-C01
3,325.927000,123.180000,318.074000,148.011111,308.189333,146.708889,310.176667,171.586222,326.862333,161.103111,...,280.157333,324.864333,119.316444,327.837333,120.555556,948.276,271.415,0.0,0.0,2-1_001-C01
4,326.850333,123.169778,319.001667,148.024444,307.250000,146.709778,309.241667,171.608000,325.923333,161.119111,...,280.145778,324.881000,119.313778,327.863000,120.553778,951.038,271.414,0.0,0.0,2-1_001-C01

In [10]:
df1.shape[0]

2866784

In [11]:
df1['index'] = [1] * df1.shape[0]

In [12]:
df1.rename(columns={'index':'y'}, inplace=True)

In [13]:
df1

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,y
0,325.900333,124.469778,318.036000,146.749333,308.189333,146.718222,310.156000,170.284444,325.919333,161.073333,...,280.183111,323.943667,120.527556,326.896000,120.584444,948.193,274.182,0.00,0.000,1
1,325.903000,123.200000,318.053333,146.752000,308.189667,146.707111,310.153333,170.289333,325.910000,161.082667,...,280.173333,323.938333,120.514222,326.901000,120.569333,948.198,271.443,0.00,0.000,1
2,325.922667,123.186667,318.065333,148.030667,307.251667,146.726222,310.170333,171.532889,326.864667,161.104889,...,280.178667,324.858667,119.318222,327.836667,120.565333,948.231,271.429,0.00,0.000,1
3,325.927000,123.180000,318.074000,148.011111,308.189333,146.708889,310.176667,171.586222,326.862333,161.103111,...,280.157333,324.864333,119.316444,327.837333,120.555556,948.276,271.415,0.00,0.000,1
4,326.850333,123.169778,319.001667,148.024444,307.250000,146.709778,309.241667,171.608000,325.923333,161.119111,...,280.145778,324.881000,119.313778,327.863000,120.553778,951.038,271.414,0.00,0.000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2866779,414.170000,132.361778,412.193333,149.366222,404.383333,157.213333,403.420000,197.733333,426.966667,195.164444,...,295.876444,411.223333,129.774222,417.140000,129.667111,1213.010,291.885,1260.14,271.225,1
2866780,413.236667,132.325333,412.256667,149.334667,405.336667,155.906222,404.403333,196.441333,427.960000,192.537778,...,293.223556,411.206667,129.739111,418.083333,128.434667,1213.070,291.832,1260.38,271.347,1
2866781,412.196667,131.042667,414.206667,142.784000,404.410000,152.020000,404.356667,193.879111,427.950000,191.206222,...,291.945333,407.306667,128.438222,414.190000,127.077333,1210.160,285.979,1260.33,271.292,1
2866782,411.206667,130.999556,417.110000,140.237333,404.410000,150.703111,403.386667,192.514222,427.903333,187.297333,...,294.556444,405.360000,128.362667,413.186667,124.500000,1201.350,271.281,1263.13,271.181,1
2866783,411.236667,129.737778,417.126667,140.204444,404.360000,150.644444,402.410000,191.151111,426.940000,185.956444,...,305.022667,406.320000,124.489333,414.163333,121.900889,1204.290,268.467,1263.28,268.287,1

In [14]:
df1.shape[0] / 32

89587.0

In [15]:
df1.to_csv('/Users/gilbert/Developer/Project/3_Convergence/School_CCTV_AI/datasets/running_sliding.csv',index=False)